.header,.banner{
    background-color: var(--color-gray);
}

.img-logo{
    width: 80px;
}
.navbar-header{
    justify-content: end;
    align-items: end;
}

.btn-secondary{
    position: relative;
    top: -3px;
    background-color: var(--color-gray)!important;
}

.dropdown-menu{
    text-align: start;
    height: 90px;
    border-radius: 5px;
}

.dropdown-menu:hover {
    color: var(--color-secundary)!important;
}